*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#nav-br {
  background-color: #EBFCF5;
  width: 100%;
  /* position: fixed; */
  /* z-index: 999; */
  display: flex;
  align-items: center;
  padding: 25px 200px;
}

#nav-br .navbar-brand {
  text-decoration: none;
  color: #39D192;
  font-weight: 500;
  font-size: 1.5em;
}

#nav-br .nav-link {
  text-decoration: none;
  padding-left: 30px;
  color: #39D192;
}

#nav-br .nav-link.CorporateSite {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline !important;
  color: #39D192;
}

#nav-br .btn-login {
  padding: 12px 24px;
  background: #39D192;
  border-radius: 12px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  transition: 0.7s ease !important;
}

#nav-br .btn-login:hover {
  transform: scale(1.1) !important;
}

#nav-br .btn-login:last-child {
  margin-left: 2rem;
}

#navbarNav {
  padding-left: 59rem;
  justify-content: space-between;
}


/* -------------------------Banner section----------------------- */

#banner {
    background-color: #EBFCF5;
    padding-top: 38%;
}

h1 {
  position: absolute;
  width: 590.37px;
  left: 194px;
  top: 271px;

  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900 !important;
  font-size: 40px !important;
  line-height: 70px !important;

  color: #39D192;
}

.prgrf {
  position: absolute;
  width: 558.73px;
  height: 48px;
  left: 194px;
  top: 437.01px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
 
  color: #333333;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
    
.btn {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-decoration: none;
  transition: background-color 0.3s ease-out;
  margin: 0 1rem;
  text-align: center;
}
    
.btn-white {
  color: #fff !important;

  position: absolute;
  /* height: 54px; */
  left: 180px;
  top: 525px;

  background: #39D192 !important;
  border-radius: 24px !important;
  display: inline-block !important;
  padding: 17px !important;
  /* transition: 0.7s ease !important; */
}

.btn-white:hover {
  background-color: #fff !important;
  color: #39D192 !important;
  border: 1px solid #39D192;
  /* transform: scale(1.1); */
}

.btn-secondary {
  background-color: #fff !important;
  color: #39D192 !important;

  box-sizing: border-box;
  display: inline-block !important;
  padding: 17px !important;

  position: absolute;
  width: 168px;
  /* height: 54px; */
  left: 480px;
  top: 525px;

  background: #FFFFFF;
  border: 1px solid #39D192 !important;
  border-radius: 24px !important;
}

.btn-secondary:hover {
  background-color: #39D192 !important;
  color: #fff !important;
}


/* ----------------------Cards Best seller--------------------------- */

.main-title {
  text-align: center;
  margin-bottom: 20px;
}

.card-wrapper {
  overflow: hidden;
  /* padding-top: 14%; */
}

.card-seller {
  color: white;
  padding: 200px 0 16px;
  text-align: center;
  text-shadow: 1px 1px 0 #555;
  height: 279px;
  background: #FFFFFF;
  box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.080899);
  border-radius: 50px 24px 24px 24px !important;
  border: #323232 1px solid;
}

h3 {
  margin-top: 15px !important;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900 !important;
  font-size: 24px !important;
  line-height: 32px !important;
  color: #333333;
}

body > main > section > div.card-wrapper > div > div.owl-nav > button.owl-next , body > main > section > div.card-wrapper > div > div.owl-nav > button.owl-prev.disabled, body > main > section > div.card-wrapper > div > div.owl-nav > button.owl-prev{
  width: 64px !important;
  height: 64px !important;
  background-color: #39D192 !important;
  border-radius: 50% !important;
  color: #fff;
  font-size: 37px;
  margin-top: 4%;
}


/* -------------------------Cards New offers----------------------- */

#NewOffers {
  background-color: #EBFCF5;
  padding: 8%;
}

.Offers-title h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 0 auto 3rem;
  text-align: center;
  color: #333333;

  position: absolute;
  width: 235px;
  height: 71px;
  left: 820px;
  top: 1635px;
}

.cards-Offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-top: 4%;
}

.card-offers {
  top: -105px;
  position: relative !important;
  width: 100% !important;
  max-width: 387px;
  height: 120% !important;
  background: #FFFFFF;
  box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.0818048);
  border-radius: 24px !important;
  overflow: hidden;
  padding: 17px 34px 20px;
}

.card-img-top {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 24px !important;
}

.card-body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}

.card-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;

  font-family: 'Poppins';
  font-style: normal;
  color: #323232;
}

.card-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.text-mute {
  color: #39D192 !important;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.custom-class {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 15px;
  line-height: 22px;
  text-align: right;
  text-decoration-line: line-through;
  color: #D7D7D7;
}

.date {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 15px;
  line-height: 22px;
  text-align: right;
  color: #C8C8C8;
}

.time {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #C8C8C8;
}

.off {
  padding: 5px 12px;
  position: absolute;
  left: 45px;
  top: 49px;
  background: #39D192;
  border-radius: 12px;
  color: #FFFFFF;
}

.bg-succ {
  background: #39D192 !important;
  border-radius: 10px !important;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
}

.bg-second {
  background: #D7D7D7;
  border-radius: 10px;
  color: #FFFFFF !important;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
}

.Read-more {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  font-size: 18px;
  color: #39D192;
}

.btn-success {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 3rem;
  /* margin: 0 auto; */
  margin: -100px 540px;
  background: #39D192 !important;
  border-radius: 100px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.btn-moreOffers {
    padding-top: 150px;
}


/* -------------------------Cards Best Food For You----------------------- */

.card-BestFoodForYou {
  /* filter: blur(5px); */
  /* padding: 200px; */
  /* position: absolute; */
  width: 312px;
  height: 490px;
  left: 100px;
  top: 2762px;
  margin-left: 7rem;
  border: 2px #323232 solid;
  background: #EBFCF5;
  box-shadow: 0px 4px 120px rgba(151, 159, 183, 0.1);
  border-radius: 12px;
}

.form-check {
  margin-left: -20px !important;
}

.form-check-input {
  cursor: pointer !important;
  width: 1.25rem !important;
  height: 1.25rem !important ;
  margin-left: 1em !important;
  margin-top: 22px !important;
}

.form-check-label-category {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #7F879E;
  margin-left: 19px;
  margin-top: 18px !important;

  line-height: 160%;
}

.form-check-input:checked {
    background-color: #39D192 !important;
    border-color: #39D192 !important;
}

.position-absolute {
  /* margin-top: -175px;
  margin-left: -174px; */
      margin-top: 19px;
      margin-left: 22px;
}

.price {
  margin-top: -16px;
  margin-left: 20px;
}

.fci-price {
  width: 1.25rem !important;
  height: 1.25rem !important ;
  margin-top: -16px !important;
  margin-left: 19px !important;
}

.fcl-price {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #7F879E;
  margin-left: 19px;
  margin-top: -19px !important;
  margin-bottom: 2.2rem;
  line-height: 160%;
}

.number1 {
  margin-left: 9rem;
  margin-top: 0.79rem;
  background: #39D192;
  height: 26px;
  border-radius: 10px;
  padding: 2px 11px;
  color: #fff;
  font-size: 15px;
}

.number2 {
  margin-left: 7rem;
  margin-top: 0.79rem;
  background: #39D192;
  height: 26px;
  border-radius: 10px;
  padding: 2px 11px;
  color: #fff;
  font-size: 15px;
}

.number3 {
  margin-left: 8.3rem;
  margin-top: 1.30rem;
  background: #39D192;
  height: 26px;
  border-radius: 10px;
  padding: 2px 11px;
  color: #fff;
  font-size: 15px;
}

.number4 {
  margin-left: 7.5rem;
  margin-top: -1.2rem;
  background: #39D192;
  height: 26px;
  border-radius: 10px;
  padding: 2px 11px;
  color: #fff;
  font-size: 15px;
}

.number5 {
  margin-left: 7rem;
  margin-top: -1.2rem;
  background: #39D192;
  height: 26px;
  border-radius: 10px;
  padding: 2px 11px;
  color: #fff;
  font-size: 15px;
}

.number6 {
  margin-left: 6.5rem;
  margin-top: -1.2rem;
  background: #39D192;
  height: 26px;
  border-radius: 10px;
  padding: 2px 11px;
  color: #fff;
  font-size: 15px;
}

.number7 {
  margin-left: 6rem;
  margin-top: -1.2rem;
  background: #39D192;
  height: 26px;
  border-radius: 10px;
  padding: 2px 11px;
  color: #fff;
  font-size: 15px;
}

.number8 {
  margin-left: 5.5rem;
  margin-top: -1.2rem;
  background: #39D192;
  height: 26px;
  border-radius: 10px;
  padding: 2px 11px;
  color: #fff;
  font-size: 15px;
}

.cards-Offers-forYou {
  top: -319px;
  left: 550px;
  position: relative !important;
  width: 100% !important;
  max-width: 387px;
  /* height: 120% !important;
  background: #FFFFFF;
  box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.0818048);
  border-radius: 24px !important;
  overflow: hidden;
  padding: 17px 34px 20px; */
}




/* -------------------------Media queries----------------------- */


/* Target screens larger than 1200px */
@media screen and (min-width: 1200px) {
  /* #navbarNav {
    padding-left: 20.5rem;
    justify-content: space-between;
  } */
}

/* Target screens between 992px and 1199px */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  #navbarNav {
    padding-left: 10.5rem;
    justify-content: space-between;
  } 
}

/* Target screens between 768px and 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
  #navbarNav {
    padding-left: 10.5rem;
    justify-content: space-between;
  }
}

/* Target screens between 576px and 767px */
@media screen and (min-width: 576px) and (max-width: 767px) {
  #navbarNav {
    padding-left: 10.5rem;
    justify-content: space-between;
  }
}

/* Target screens smaller than 576px */
@media screen and (max-width: 575px) {
  #navbarNav {
    padding-left: 2.5rem;
    justify-content: space-between;
  }
}
